/*.aac
camera_gpt_*.pt
/aspennet.dot
/*.avi
/bazel-*
/blended.txt
/build
/.cache
/.clangd
compile_commands.json
/*.csv
/*.db
debug_tensorboard
/data/
/dist
/exp
/h-demo*
/hm-ui/target/
hockey_league.db
hockeymon.egg-info
.idea
/keypoints.png
/*.log
/matches.png
/*.mkv
/*.mov
/*.mp4
/my_env
/my_venv
/output_image.png
output_workdirs
/player_focus
/*.h265
/*.h264
/profile
/*.pth.tar
pybind11_project_example.egg-info
*.pyc
__pycache__
stitched_output.avi
/*.tif
trace.json
/.venv
/venv
*.whl
/work_dirs
YOLOX_outputs
player_shifts_fiverr
/*.dot
/.hugin_built
*.torch_tensorrt_cache/
audit_workdirs
hmlib.egg-info
